@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik+Mono+One&family=Rubik:ital,wght@0,700;1,900&display=swap");

@import url("./smallScreens.css"); /* Small screens */
@import url("./mediumScreens.css"); /* Medium screens */
@import url("./largeScreens.css"); /* Large screens */

:root {
  scroll-behavior: smooth;
  font-size: 16px;
  /* font-family: "Rubik", sans-serif;  */
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background-color: #fff;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
#root,
html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
