@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik+Mono+One&family=Rubik:ital,wght@0,700;1,900&display=swap");

:root {
  font-size: 16px;
  /* font-family: "Rubik", sans-serif;  */
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background-color: #fff;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
#root,
html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Small screens */
@media all and (max-width: 519px) {
  .main-div1-h1 {
    font-size: 2rem !important;
  }
  .form-title {
    font-size: 2rem !important;
  }
  #main-chat {
    margin-right: 0;
    display: none;
  }
  .burger-icon {
    top: 0.5rem !important;
    right: 1rem !important;
  }
  .phone-num-svg-num {
    display: none;
  }
  #main-logo h1 {
    font-size: 1.2rem !important;
  }
  .container-header {
    height: 40vh !important;
  }
  .whoweare-div,
  .whoweare-h1,
  .services-main-title,
  .services-main-div,
  .services-childrens-div {
    margin: auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
    width: 90% !important;
    text-align: center !important;
  }

  .privacy-policy {
    font-size: small;
    padding: 4rem 0.7rem !important;
  }
  .services-childrens-p,
  .whoweare-div p {
    font-size: 0.9rem !important;
  }
  .whoweare-h1,
  .services-main-title {
    font-size: 1.8rem !important;
  }
  .whoweare-h1 img {
    width: 30px;
  }
  .services-childrens-button {
    width: 80% !important;
    font-size: 0.7rem !important;
  }

  .form-label {
    padding: 2px 0 !important;
    font-size: 0.8rem !important;
  }
  #form-send-btn {
    font-size: 1.4rem !important;
    width: 100% !important;
    margin: 1.6 0 rem !important;
  }
  .title {
    font-size: 1.4rem !important;
  }
  .phone-num-div {
    margin-right: 6rem !important;
    margin-top: 0.6rem !important;
  }
  .hide {
    height: 3rem !important;
  }
}
/* Medium screens */
@media all and (max-width: 699px) and (min-width: 520px) {
  .phone-num-svg-num {
    display: none;
  }
  .phone-num-div {
    margin-right: 8rem !important;
    /* margin-top: 1rem !important; */
  }
  .title {
    font-size: 1.7rem !important;
  }

  .main-div1-h1 {
    font-size: 3.4rem !important;
  }
  .whoweare-h1 {
    font-size: 3rem !important;
  }
  .whoweare-h1 img {
    width: 40px;
  }
  .whoweare-div,
  .services-main-title,
  .services-main-div,
  .services-childrens-div {
    margin: auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
    width: 90% !important;
    text-align: center !important;
  }
  .form-title {
    font-size: 2.5rem !important;
  }
  /* .burger-icon {
    margin-top: 0.5rem !important;
    margin-right: 0.rem !important;
  } */
  .form-input {
    width: 250px !important;
  }
  #form-send-btn,
  .privacy-policy {
    font-size: 1.4rem !important;
    width: 100% !important;
  }
}
/* Large screens */
@media all and (max-width: 1200px) and (min-width: 700px) {
  .whoweare-h1 {
    font-size: 3rem !important;
  }
  .services-main-div {
    width: 100% !important;
    justify-content: center !important;
  }
  .services-childrens-div {
    width: 50% !important;
    margin: 20px !important;
  }
  .navbar {
    top: 0;
    width: 100%;
    height: 100%;
  }
  .services-div {
    width: 60%;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
  .form {
    width: 75vw !important;
  }
  .main-div1-h1 {
    font-size: 4em !important;
  }
}
@media all and (min-width: 1201px) {
  .services-main-div {
    width: 60vw !important;
  }
  .form {
    width: 50vw !important;
  }
  .main-div1-h1 {
    font-size: 5.4rem !important;
  }
  .services-childrens-div {
    margin: 20px auto !important;
  }
}
