@media all and (max-width: 799px) and (min-width: 520px) {
  .nav-bar-container {
    top: 5% !important;
    width: 125px !important;
  }
  .burger-icon {
    top: 5.5%;
    right: 10px;
    margin: 0;
  }
  .hide {
    height: 3rem !important;
  }
  .show {
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .phone-num-div {
    margin-right: 60% !important;
    margin-top: 1.3rem !important;
    height: 100% !important;
  }
  .phone-num-svg-num {
    display: none;
  }

  #main-logo {
    left: -60px !important;
    /* top: 1.5rem; */
    font-size: 0.7rem !important;
  }
  .title {
    font-size: 1.7rem !important;
  }

  .main-div1-h1 {
    font-size: 3.4rem !important;
  }
  .whoweare-h1 {
    font-size: 3rem !important;
  }
  .whoweare-h1 img {
    width: 40px;
  }
  .whoweare-div,
  .services-main-title,
  .services-main-div,
  .services-childrens-div {
    margin: auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
    width: 90% !important;
    text-align: center !important;
  }
  .form-title {
    font-size: 2.5rem !important;
  }

  /* .burger-icon {
    margin-top: 0.5rem !important;
    margin-right: 0.rem !important;
  } */
  .form-input {
    width: 250px !important;
  }
  #form-send-btn,
  .privacy-policy {
    font-size: 1.4rem !important;
    width: 100% !important;
  }
  /* ***************new changes to landing***************  */
  .whoweare-div-new {
    flex-direction: column;
  }
  .about-me-right {
    width: 100%;
  }
  .about-me-left {
    text-align: center;
    min-width: 98%;
    padding: 1%;
    font-size: smaller;
  }
  .about-me-left p {
    font-size: smaller;
  }
  /* *****************************************************  */
}
