@media all and (max-width: 519px) {
  .nav-bar-container {
    top: 5% !important;
    width: 100px !important;
  }
  #main-logo {
    /* width: 150px; */
    top: 2%;
    left: 0;
    right: auto;
    transform: rotateY(0deg) rotate(0deg); /* needs Y at 0 deg to behave properly*/
    transition: transform 2s;
    font-size: 0.5rem !important;
  }

  .burger-icon {
    top: 5.5%;
    right: 10px;
    margin: 0;
  }
  .hide {
    height: 3rem !important;
  }
  .show {
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .phone-num-div {
    margin-right: 60% !important;
    margin-top: 1.3rem !important;
    height: 100% !important;
  }
  .main-div1-h1 {
    font-size: 2rem !important;
  }
  /* ***************new changes to landing***************  */
  .whoweare-div-new {
    flex-direction: column;
  }
  .about-me-right {
    width: 100%;
    padding: 10% 0;
  }
  .about-me-left {
    width: 92%;
    padding: 4%;
  }
  .about-me-left-title {
    margin-top: 4.5rem;
    display: inline-block;
    padding: 5px;
    font-size: smaller;
  }
  .about-me-left p {
    font-size: smaller;
  }
  /* *****************************************************  */
  .form-title {
    font-size: 2rem !important;
  }
  #main-chat {
    margin-right: 0;
    display: none;
  }
  .phone-num-svg-num {
    display: none;
  }

  .container-header {
    height: 40vh !important;
  }
  .whoweare-div,
  .whoweare-h1,
  .services-main-title,
  .services-main-div,
  .services-childrens-div {
    margin: auto !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
    width: 90% !important;
    text-align: center !important;
  }
  .services-main-container {
    margin: 0 !important;
  }
  .privacy-policy {
    font-size: small;
    padding: 4rem 0.7rem !important;
  }
  .services-childrens-p,
  .whoweare-div p {
    font-size: small !important;
  }
  .whoweare-h1,
  .services-main-title {
    font-size: 1.8rem !important;
  }
  .whoweare-h1 img {
    width: 30px;
  }
  .services-childrens-button {
    width: 80% !important;
    font-size: 0.7rem !important;
  }
  .form-label {
    padding: 2px 0 !important;
    font-size: 0.8rem !important;
  }
  #form-send-btn {
    font-size: 1.4rem !important;
    width: 100% !important;
    margin: 1.6 0 rem !important;
  }
  .title {
    font-size: 1.4rem !important;
  }
  /* .phone-num-div {
    
  } */

  .footer-div-link,
  .footer-div-text {
    font-size: 0.7rem !important;
    margin: 7px auto !important;
  }
}
