.nav-bar-container {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 98;
  padding-bottom: 15px;
}
.bgOff {
  background-color: none;
}
.bgOn {
  background-color: #23232eb7;
}

.hide {
  height: 5rem;
  background-color: none;
}
.show {
  -webkit-transition: height 2s ease;
  transition: height 1.5s ease;
  height: 100vh !important;
  background-color: #23232e;
}
.phone-num-div {
  margin-right: 8rem;
  margin-left: auto;

  color: white;
}
.phone-num-svg-num {
  margin-left: 10px;
}
.phone-num-div-a {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.phone-num-svg {
  width: 30px;
}
.burger-icon {
  z-index: 99;
  top: 1.2rem;
  right: 2rem;
  position: fixed;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  border: 0.5px solid #141418;
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.3);
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 8px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.navbar {
  z-index: 50;
  position: fixed;
  height: 100%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  /* background-color: none;
   */
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100vw;
  justify-content: center;
}
.nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  margin-top: 20px;
  width: 300px;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}
.nav-item:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.link-text {
  font-size: 2.5rem;
  display: inline;
  margin-left: 3.2rem;
}
.nav-link svg {
  width: 1.7rem;
  min-width: 1.7rem;
}
.fa-primary {
  color: #ff7e9e;
}
.fa-secondary {
  color: #df4949;
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
